/* src/components/JobCard.css */

body {
    background-color: black;
    color: white;
}

.job-card {
    border-bottom: 1px solid #ccc; /* You might want to change this to a lighter color */
    padding: 15px 0;
    font-family: Arial, sans-serif;
}

.job-title {
    color: #00bcd4; /* Change to a brighter color for better visibility */
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.job-details {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9rem;
    color: #bbb; /* Adjusted for better visibility */
}

.company, .location, .category, .type, .time-posted {
    margin-right: 5px;
}

.dot {
    margin-right: 5px;
    color: #999;
}
